<!-- <section>
        <article>
            <h2 class="titel"><%= foundationsDocument.name %></h2>
            <p class="merk"><%= foundationsDocument.brand %></p>
            <p class="prijs">€<%= foundationsDocument.price %></p>
        </article>
</section> -->
