<nav>
  <ul>
    <li><a href="https://foundationmatch.herokuapp.com/">Home</a></li>
    <li><a href="#">OverOns</a></li>
    <li><a href="#">Favorieten</a></li>
    <li><a href="#">Ingelogd</a></li>
  </ul>
</nav>
