<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FountationMatch</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" charset="UTF-8"> 
</head>
<body id="home">
    <%- include('nav'); %>
    <main>
        <article>
            <h1>FoundationMatch</h1>
            <p>Wij helpen jou zoeken naar de perfecte foundation</p>
        
            <a href="#">Start nu</a>
        </article>
    </main>
</body>
</html>