<%- include('../partials/head'); %>

<body id="home">
    <%- include('../partials/nav'); %>
    <main>
        <article>
            <h1>FoundationMatch</h1>
            <p>Wij helpen jou zoeken naar de perfecte foundation</p>
        
            <a href="vraag1">Start nu</a>

        </article>
    </main>
    <script src=../scripts/script.js></script>
</body>
</html>